## movieStats

### Author:  Sheneka Allen

In [8]:
# import key libraries, tools
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote # must have for special char pwd
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [9]:
# connect to PyMysql
username = 'root'
password = 'pwd'

# Create connection string using credentials for special character mysql pwd

connection = f"mysql+pymysql://{username}:{urlquote(password)}@localhost/movieStats"
engine = create_engine(connection)

In [10]:
# Check if database exists, if not, create it
if database_exists(connection) == False: create_database(connection)
else: print('The database already exists.')

The database already exists.

In [11]:
# verify movieStats db was created
database_exists(connection)

True

In [24]:
# load the three (3) official IMDB data for the requested tables
# title.basics.tsv.gz, title.ratings.tsv.gz, title.akas.tsv.gz

df = pd.read_csv('Data/title.basics.tsv.gz', compression='gzip', sep='\t')

# show basics dataframe
df.head()

/Users/shenekaallen/opt/anaconda3/envs/dojo-env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [30]:
# show ratings dataframe
df1 = pd.read_csv('Data/title.ratings.tsv.gz', compression='gzip', sep='\t')

In [29]:
# show akas dataframe
df2 = pd.read_csv('Data/title.akas.tsv.gz', compression='gzip', sep='\t')

In [ ]:
# add data to db

#df.to_sql('basics', engine, if_exists = 'replace')
#df1.to_sql('ratings', engine, if_exists = 'replace')
#df2.to_sql('akas', engine, if_exists = 'replace')

In [ ]:
# filter data using customer specifications or requirements
#q = """SELECT * FROM tshirts LIMIT 5;"""
#pd.read_sql(q, engine)

In [ ]:
# filter out unnecessary data
#
# exclude any movie with missing values for genre or runtime
# include only full-length movies (titleType = "movie").
# include only fictional movies (not from documentary genre)
# include only movies that were released 2000 - 2021 (include 2000 and 2021)
# include only movies that were released in the United States

# save the filtered tables as gzip-compressed csv files (".csv.gz") 
# in the movieStats repository.